.logo-1-1-icon {
    width: 5.375rem;
    height: 5.5rem;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 18.437rem;
}
.frame {
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 227.5px);
    backdrop-filter: blur(21.34px);
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 28.438rem;
    height: 37.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2.575rem 0;
    box-sizing: border-box;
}
.g {
    color: #4285f4;
}
.g1 {
    color: #34a853;
}
.l {
    color: #fabb05;
}
.oggle {
    height: 3.438rem;
    align-self: start;
    margin-left: 0.5rem;
}
.email {
    position: relative;
}
.frame-child {
    border: 0;
    outline: 0;
    font-family: var(--font-gilroy-medium);
    font-size: var(--font-size-smi);
    background-color: var(--color-white);
    align-self: stretch;
    border-radius: var(--br-9xs);
    height: 2.5rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base);
    box-sizing: border-box;
    color: var(--color-silver);
}
.email-parent,
.frame2 {
    display: flex;
    flex-direction: column;
}
.email-parent {
    width: 20.938rem;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    height: 4rem;
    margin-left: 1rem;
    font-size: var(--font-size-smi);
    color: var(--color-darkslategray);
    font-family: var(--font-gilroy-medium);
}
.frame2 {
    width: 21.938rem;
    height: 9.063rem;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 1.625rem;
}
.password {
    border: 0;
    outline: 0;
    font-family: var(--font-gilroy-medium);
    font-size: var(--font-size-smi);
    background-color: transparent;
    position: relative;
    color: var(--color-silver);
    text-align: left;
    width: 100%;
}
.vector-icon,
.vector-icon1,
.vector-icon2 {
    position: absolute;
    height: 25.62%;
    width: 25.62%;
    top: 31.25%;
    right: 28.75%;
    bottom: 43.13%;
    left: 45.63%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon1,
.vector-icon2 {
    height: 46.88%;
    width: 59.38%;
    top: 20.63%;
    right: 3.75%;
    bottom: 32.5%;
    left: 36.88%;
}
.vector-icon2 {
    height: 76.25%;
    width: 83.75%;
    top: 11.88%;
    right: 9.37%;
    bottom: 11.88%;
    left: 6.88%;
}
.password-group {
    align-self: stretch;
    border-radius: var(--br-9xs);
    background-color: var(--color-white);
    height: 2.5rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base);
    box-sizing: border-box;
    width: auto;
    margin: 0   ;
}
.password-parent {
    width: 20.938rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    height: 4rem;
    margin-left: 1rem;
}
.forgot-password {
    cursor: pointer;
    font-size: var(--font-size-sm);
    letter-spacing: 0.05em;
    color: var(--color-blue);
    height: 1.063rem;
    margin-left: 13.125rem;
}
.frame4 {
    width: 21.938rem;
    height: 6.063rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}
.sign-in {
    position: relative;
    font-size: 0.888rem;
    font-family: var(--font-arial);
    color: var(--color-white);
    text-align: left;
}
.sign-in-button {
    border: 0;
    padding: var(--padding-base);
    background-color: #059be5;
    width: 20.938rem;
    border-radius: 3.56px;
    height: 2rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 1rem;
    transition: transform .2s;
    cursor: pointer;
}
.sign-in-button:hover {
    transform: scale(1.05);
}

.or-continue-with {
    height: 1.063rem;
    margin-left: 0.062rem;
}
.frame6 {
    width: 21.938rem;
    height: 4.563rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xl);
}
.flat-color-iconsgoogle {
    width: 1.069rem;
    position: relative;
    border-radius: 28.46px;
    height: 1.069rem;
    overflow: hidden;
    flex-shrink: 0;
}
.flat-color-iconsgoogle-wrapper,
.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.12rem;
}
.flat-color-iconsgoogle-wrapper {
    cursor: pointer;
    transition: transform .2s;
    border: 0;
    padding: var(--padding-4xs) var(--padding-base);
    background-color: var(--color-white);
    flex: 1;
    border-radius: 28px;
    overflow: hidden;
    box-sizing: border-box;
}
.flat-color-iconsgoogle-wrapper:hover {
    transform: scale(1.09);
}
.frame-parent {
    width: 15.625rem;
    gap: var(--gap-base);
    margin-left: 0.937rem;
}
.dont-have-an {
    position: relative;
}
.register-for-free {
    text-decoration: none;
    position: relative;
    font-family: var(--font-gilroy-extrabold);
    color: var(--color-blue);
    cursor: pointer;
}
.dont-have-an-account-yet-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.187rem;
    height: 1.125rem;
    margin-left: 0.937rem;
}
.frame3,
.frame5,
.frame7 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame7 {
    width: 18.813rem;
    height: 7.313rem;
    overflow: hidden;
    justify-content: flex-start;
    gap: 4rem;
}
.frame3,
.frame5 {
    width: 21.938rem;
}
.frame5 {
    height: 13.375rem;
    overflow: hidden;
    justify-content: center;
    gap: var(--gap-5xl);
    font-size: var(--font-size-sm);
}
.frame3 {
    height: 21.438rem;
    justify-content: flex-start;
    gap: 1.937rem;
    font-size: var(--font-size-smi);
    color: var(--color-darkslategray);
    font-family: var(--font-gilroy-medium);
}
.frame1,
.frame3,
.loin {
    overflow: hidden;
}
.frame1 {
    position: absolute;
    top: 4.5rem;
    left: 2.75rem;
    width: 21.938rem;
    height: 31.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}
.loin {
    width: 27.438rem;
    position: relative;
    box-shadow: 0 2.8px 49.8px rgba(0, 0, 0, 0.1);
    height: 37.5rem;
    flex-shrink: 0;
    text-align: left;
    font-size: 3rem;
    color: var(--color-tomato);
    font-family: var(--font-arial);
}
.login-page-design-1 {

    background-color: #e5e5e5;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}