:root {
	/* font sizes */
	--font-size-sm: 0.875rem;
	--font-size-smi: 0.813rem;

	/* Colors */
	--color-white: #fafbfd;
	--color-white-light: #F9FBFD;
	--color-blue: #0077b6;
	--color-light-blue: #00b4d8;
	--color-lighter-blue: #caf0f8;
    --color-light-gray: #ced4da;

	/* Gaps */
	--gap-base: 1rem;
	--gap-5xl: 1.5rem;
	--gap-5xs: 0.5rem;

	/* Paddings */
	--padding-4xs: 0.562rem;
	--padding-base: 1rem;

	/* Border radiuses */
	--br-9xl-5: 28.5px;
	--br-9xs: 4px;
}