body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
a {
	text-decoration: none;
}
a:visited {
	color: var(--color-blue);
}
button {
	width: 100%;
	padding: 10px;
	background-color: var(--color-blue);
	color: white;
	border: none;
	border-radius: var(--br-9xs);
	cursor: pointer;
	margin-top: 10px;
}
input[type='text'],
input[type='email'],
input[type='password'] {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-radius: var(--br-9xs);
	box-sizing: border-box;
}
.logo {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
.logo span:nth-child(1) {
	color: #4285f4;
}
.logo span:nth-child(2) {
	color: #ea4335;
}
.logo span:nth-child(3) {
	color: #fbbc05;
}
.logo span:nth-child(4) {
	color: #34a853;
}
.logo span:nth-child(5) {
	color: #4285f4;
}
.circle-logo {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: conic-gradient(
		#4285f4 0deg 90deg,
		#ea4335 90deg 180deg,
		#fbbc05 180deg 270deg,
		#34a853 270deg 360deg
	);
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.container {
	background-color: var(--color-white);
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 300px;
}
#errorPopup {
    position: fixed;
    bottom: -100px;
    left: 0;
    width: 100%;
    background-color: #ff4444;
    color: white;
    text-align: center;
    padding: 15px;
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}
#errorPopup.show {
    bottom: 0;
}