.terms {
    font-size: 12px;
    margin-top: 20px;
}
.social-register {
    margin-top: 20px;
}
.social-register img {
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}
.login-link {
    font-size: 12px;
    margin-top: 20px;
}